//app/_styles/globals/base.scss
@use '../core/variables' as *;
@use '../core/mixins' as *;
@use '../core/functions' as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-base;
    color: $base-color;
    background-color: $white;
    background-image: url("#{$img-path}/website-texture.svg");
  background-repeat: repeat;
  background-size: auto;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}

main {
    background-color: $white;
}


.overflow-hidden {
    overflow: hidden;
    position: relative;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 5rem;

    > main {
    flex: 1;
  }
}

.site-wrap {
    width: 100%;
   max-width: $max-width;
  margin-inline: auto;
  padding-inline: clamp($padding-mobile, 5vw, $padding-desktop);
}




/*main {
    min-height: calc(100vh - 25rem);
}*/