@use '../core/variables' as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-base;
    color: $base-color;
    background-color: $white;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}


.overflow-hidden {
    overflow: hidden;
    position: relative;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/*main {
    min-height: calc(100vh - 25rem);
}*/