//Futura
@font-face {
    font-family: "FuturaStd";
    src: url("#{$assetsPath}fonts/Futura/FuturaStd-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: $bold;
    font-display: swap;
}

@font-face {
    font-family: "FuturaStd";
    src: url("#{$assetsPath}fonts/Futura/FuturaStd-Book.otf") format("opentype");
    font-style: normal;
    font-weight: $regular;
    font-display: swap;
}

@font-face {
    font-family: "FuturaStd";
    src: url("#{$assetsPath}fonts/Futura/FuturaStd-BookOblique.otf") format("opentype");
    font-style: italic;
    font-weight: $regular;
    font-display: swap;
}

//Stockholm
@font-face {
    font-family: "Stockholm";
    src: url("#{$assetsPath}fonts/Stockholm/StockholmType-Bold.woff") format("woff");
    font-style: normal;
    font-weight: $bold;
    font-display: swap;
}

@font-face {
    font-family: "Stockholm";
    src: url("#{$assetsPath}fonts/Stockholm/StockholmType-Regular.woff") format("woff");
    font-style: normal;
    font-weight: $regular;
    font-display: swap;
}

//Druk
@font-face {
    font-family: "Druk";
    src: url("#{$assetsPath}fonts/Druk/Druk-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: $bold;
    font-display: swap;
}

@font-face {
    font-family: "Druk";
    src: url("#{$assetsPath}fonts/Druk/Druk-Heavy.otf") format("opentype");
    font-style: normal;
    font-weight: $heavy;
    font-display: swap;
}

@font-face {
    font-family: "Druk";
    src: url("#{$assetsPath}fonts/Druk/Druk-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: $regular;
    font-display: swap;
}

//Newport
@font-face {
    font-family: "Newport";
    src: url("#{$assetsPath}fonts/Newport/Newport-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: $regular;
    font-display: swap;
}