@use "../core/variables" as *;
@use "../core/mixins" as *;

.member-grid {
    &__controls {
      margin-bottom: $gutter;
    }
  
    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: $gutter;
      justify-items: center;
    }

    &__list-item {
      width: 100%;
    }
  
    &__empty {
      font-style: italic;
      color: $gray;
      margin-top: $gutter;
      text-align: center;
    }
  }