@use "../core/mixins" as *;
@use "../core/animations.scss" as *;
@use "../core/variables" as *;

.navbar {

  width: 100%;
  background: $blue;
  font-size: 1.3rem;


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    @include wrap(site);
  }

  &__mobile {
    font-size: 1rem;
    background: none;
    border: none;
    display: block;
    z-index: 2;
  }

  @include hamburger-icon("navbar__mobile");

  &__link {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    text-align: left;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $warm-white;
      color: $black;
      width: 100%;
    }
  }

  &__link-list {
    display: none;
    flex-direction: column;
    list-style: none;
    color: $warm-white;
    padding: 0;
    margin: 1rem 0 0;
    background: $blue;
    position: absolute;
    top: 100%;
    left: 0;  
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;

    &--open {
      display: flex;
      margin-top:0;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: inherit
    }

    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul {
      margin-left: 0;
    }
  }

  &__dropdown-link {
    display: block;
    padding: 1rem;
    padding-left: 2.5rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $warm-white;
      color: $black;
      
    }
  }

  &__item {
    padding: 0;
    border-top: 1px solid $secondary-blue;
    font-size: inherit;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__dropdown {
    padding:0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    will-change: max-height;
  }

  @include respond(md) {

    font-size: clamp(0.85rem, 1.5vw, 1.3rem);

    &__container {
      padding: 0;
    }
    
    &__mobile {
      display: none;
    }

    &__link-list {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      background: none;
      box-shadow: none;
    }

    &__link {
      cursor: pointer;
      display: block;
      padding: 1rem 2rem;
      width: 100%;
      height: 100%;
  
    }


    &__item {
      border: none;
      padding: 0;
      position: relative;
    }

    &__dropdown {
      position: absolute;
      background: $blue;
      color: $warm-white;
      top: 100%;
      left: 0;
      padding-left: 0;
      min-width: 100%;
      width: fit-content;
      max-width: 400px;
    }

    &__dropdown-item {
      border: 1px solid $secondary-blue;

      font-size: inherit;

    }

    &__dropdown-link {
      padding: 1rem 2rem;
      text-align: left;
    } 
  }
}
