@use "../core/mixins" as *;
@use "../core/animations.scss" as *;

.navbar {
  width: 100%;
  background: white;
  padding: 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include wrap(site); 
  }

  &__mobile {
    font-size: 2rem;
    background: none;
    border: none;
    display: block;
    z-index: 2;
  }

  @include hamburger-icon("navbar__mobile");

  

  &__link-list {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    background: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;

    &--open {
      display: flex;
    }
  }

  &__dropdown-link {
  display: block;
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;

  &:hover {
    background-color: #f0f0f0;
  }
}


  &__item {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }

  &__dropdown {
    padding-left: 1rem;
  }

  @include respond(md) {
    &__mobile {
      display: none;
    }

    &__link-list {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      background: none;
      box-shadow: none;
    }

    &__link {
        cursor: pointer;
    }


    &__item {
      border: none;
      padding: 0;
      position: relative;
    }

    &__dropdown {
      position: absolute;
      background: white;
      top: 100%;
      left: 0;
      margin-top: 16px;
      //box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding-left: 0; 
    }

    &__dropdown-item {
        border-bottom: 1px solid #eee;
        white-space: nowrap;
    }
  }
}
