@use "../core/variables" as *;
@use "../core/mixins" as *;

.styrelsen-page {

    &__title {
        font-size: 3rem;
        font-weight: $font-bold;
        color: $blue;
        margin-bottom: 4.5rem;
    }

    &__intro {
        font-size: 1.5rem;
        color: $blue;
        margin-bottom: 4.5rem;
    }
}