$img-path: "/images";
$icons-path: "/icons";
$font-path: "/fonts";

$max-width: 1440px;
$content-width: 1260px;
$menu-height: 88px;
$gutter: 16px;

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

$padding-mobile: 16px;
$padding-tablet: 30px;
$padding-desktop: 90px;

$white: #f5f5f9;
$black: #171717;
$gray: #d1d1d6;
$secondary-gray:#cfcbc6;
$blue: #043256;
$secondary-blue: #154264;
$primary-beige: #f9efe0;
$secondary-beige: #f7f1e9;
$soft-brown: #8c5921;

$base-color: $black;
$primary-color: $blue;
$secondary-color: $secondary-beige;
$background-color: $primary-beige;
$link-color: $blue;
$link-hover-color: $black;
$error-color: #b00020;;

$border-radius: 1.25rem;
$border-shadow: 0 2px 4px rgba(140, 89, 33, 0.1);

$transition: 0.7s ease-in-out;

$font-base: "Arial", sans-serif;
$font-heading: "Inter", sans-serif;
$font-alt: "Druk", sans-serif;

$font-light: 300;
$font-normal: 400;
$font-bold: 600;
$font-heavy: 900;

$font-size-title: 2.5rem;
$font-weight-title: $font-bold;
$line-height-title: 1.3;

$font-size-button: 0.875rem;
$font-weight-button: $font-bold;
$line-height-button: 1;

$font-size-text: 1rem;
$font-weight-text: $font-normal;
$line-height-text: 1.5;
