// Path to static assets (bilder, ikoner etc.)
$assets-path: "../_assets/";

// Layout
$max-width: 1440px;
$content-width: 800px;
$menu-height: 88px;
$gutter: 16px;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Colors
$white: #fff;
$black: #181818;
$gray: #e7e7e8;
$orange: #dd3800;
$light-orange: #fde6d8;
$blue: #3050b1;
$blue-dark: #052364;

// Color roles
$base-color: $black;
$primary-color: $orange;
$secondary-color: $blue-dark;
$link-color: $orange;
$link-hover-color: $black;
$error-color: red;

// Border radius
$border-radius: 1.25rem;

// Transitions
$transition: 0.3s ease-in-out;

// Font stack
$font-base: 'Arial', sans-serif;
$font-heading: 'Inter', sans-serif;
$font-alt: 'Druk', sans-serif;

// Font weights
$font-light: 300;
$font-regular: 400;
$font-bold: 600;
$font-heavy: 900;